---
log:
  filePath: /traefik.log
  level: "{{ traefik_log_level | default(ERROR) }}"

api:
  dashboard: true

entryPoints:
  http:
    address: ":80"
  https:
    address: ":443"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: "{{ traefik_docker_network }}"
  file:
    filename: /config.yml

certificatesResolvers:
  http:
    acme:
      email: "{{ traefik_admin_email }}"
      storage: acme.json
      httpChallenge:
        entryPoint: http
