defaultEntryPoints = ["http", "https"]

[entryPoints]
  [entryPoints.dashboard]
    address = ":{{ traefik_api_port }}"
    [entryPoints.dashboard.auth]
      [entryPoints.dashboard.auth.basic]
        users = ["{{ traefik_admin_encrypted_passwd }}"]
  [entryPoints.http]
    address = ":80"
      [entryPoints.http.redirect]
        entryPoint = "https"
  [entryPoints.https]
    address = ":443"
      [entryPoints.https.tls]

[api]
entrypoint="dashboard"

[acme]
email = "{{ traefik_admin_email }}"
storage = "acme.json"
entryPoint = "https"
onHostRule = true
  [acme.httpChallenge]
    entryPoint = "http"

[docker]
domain = "{{ base_domain }}"
endpoint = "unix:///var/run/docker.sock"
watch = true
